{% extends 'base.html' %}

{% block content %}
    <h1>Enrollments list</h1>
    <table class="table table-responsive">

        <thead>
            <tr>
                <td>Date</td>
                <td>Student name</td>
                <td>Course</td>
                <td>Grade</td>
                <td>
                    <a href="{% url 'create_enrollment' %}" class="btn btn-warning">
                        Add
                    </a>
                </td>
            </tr>
        </thead>

        <tbody>
            {% for enrollment in enrollments %}
                <tr>
                    <td>{{enrollment.date_enrolled}}</td>
                    <td>{{enrollment.student}}</td>
                    <td>{{enrollment.subject}}</td>

                    {% if enrollment.grades_list %}
                        <td>{{enrollment.grades_list}}</td>
                    {% else %}
                        <td>None</td>
                    {% endif %}

                    <td>

                        <a href="{% url 'update_enrollment' enrollment.id %}" class="btn btn-success">Edit</a>
                        <form action="{% url 'delete_enrollment' enrollment.id %}" method="post">
                            
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>

                    </td>

                    <td>
                        
                        <a href="{% url 'grade_enrollment' enrollment.id %}" class="btn btn-dark">Grade student</a>
                       
                        <form action="{% url 'delete_grade' enrollment.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn-danger">Delete grade</button>
                        </form>
                        
                    </td>

                </tr>
            {% endfor %}
        </tbody>

    </table>


{% endblock %}