{% extends 'base.html' %}

{% block content %}

<h1>Lista cursuri</h1>

<table class="table table-bordered">

    <thead class="thead-dark">
        <tr>
            <td>Curs</td>
            <td>Studenti inscrisi</td>
            <td>
                <a href="{% url 'create_subject' %}" class="btn btn-warning">Adauga</a>
            </td>
        </tr>
    </thead>

    <tbody>
        {% for subject in subjects %}
            <tr>
                <td>{{subject.course_name}}</td>

                {% if subject.get_students_count %}
                    <td>{{subject.get_students}}</td>
                {% else %}
                    <td>Nu exista studenti inscrisi</td>
                {% endif %}

                <td>
                    <a href="{% url 'update_subject' subject.id %}" class="btn btn-success"> Editeaza </a>
                </td>

                <td>
                    <form action="{% url 'delete_subject' subject.id %}" method="post">
                        {% csrf_token %}

                        <button type="submit" class="btn btn-danger">
                            Sterge
                        </button>
                    </form>
                </td>

            </tr>
        {% endfor %}
    </tbody>

</table>

<div class="container">
    <div class="row">
        <div class="col-sm">
            
            Pagina {{subjects.number}} din {{number_of_pages}}

            {% if subjects.has_previous %}
                <a href="{% url 'subject_list' %}?page={{subjects.previous_page_number}}" class="btn btn-primary">Inapoi</a>
            {% endif %}

            {% if subjects.has_next %}
                <a href="{% url 'subject_list' %}?page={{subjects.next_page_number}}" class="btn btn-primary">Urmatoare</a>     
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}