{% extends 'base.html' %}

{% block content %} 

    <h1>Students list</h1>
        <table class="table table-bordered">
            
            <thead class="thead-dark">
            <tr>
                <td>Student name</td>
                <td>Year</td>
                <td>
                    <a href="{% url 'create_student' %}" class="btn btn-warning">
                        Add
                    </a>
                </td>
            </tr>
        </thead>

        <tbody>
            {% for student in students %}
                {% if student.year != "0" %}
                        <tr>
                            <td>{{student.full_name}}</td>
                            <td>{{student.year}}</td>
                            <td>
                                <a href="{% url 'update_student' student.id %}" class="btn btn-success">
                                    Edit
                                </a>

                                <form action="{% url 'delete_student' student.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn-danger">Delete</button>
                                </form>

                            </td>
                        </tr>
                {% endif %}
            {% endfor %}
        </tbody>

        </table>



{% endblock %}