{% extends 'registration\base_registration.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Create your student account</h1>
        <div class="container-fluid">
            <form method="post" action="" autocomplete="off">
                {% csrf_token %}
                {{form|crispy}}
                {{student_form|crispy}}
                <button type="submit" class="btn btn-primary">Inregistreaza-te</button>
            </form>
        </div>
    </div>

{% endblock %}