{% extends 'registration\base_registration.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Create your student account</h1>
        <div class="container-fluid">
            <form method="POST" action="">
                {% csrf_token %}
                {% crispy form %}
                <input class="btn btn-primary" type="submit" value="Submit">
        </form>
        </div>
    </div>

    <div class="container-fluid">

    </div>

{% endblock %}